body {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 30px;
}

main{
    min-height: calc(100vh - 303px);
    text-align: center;
}

.align-vert-hor {
    display: flex;
    justify-content: center; /*horizontally*/
    align-items: center; /*vertically*/
}


/*----------FORMS---------*/
#text {
    height: 200 px;
    width: 300px;
}

#form {
    margin-top: 30px;

    display: grid !important;
    align-items: center;
    justify-content: center;
}

label {
    display: grid !important;
    align-items: center;
    justify-content: center;
}

input {
    height: 30px;
    font-size: 20px;
}

#submit-button{
    height: 40px;
    font-size: 20px;
    background-color: rgb(198, 235, 198);
    padding: 5px 05px 0;

}