.logo-image {
    height: 80%;
}


nav {
    font-weight: bold;
    height: 50px;
    padding: 30px 0px 30px 0px;
    border-bottom: 3px solid black;
    display: flex;
    justify-content: center; /*horizontally*/
    align-items: center; /*vertically*/
}

nav a {
    height: 100%;
    font-size: 50px;
    color: black;
    margin: 0 30px 0 30px;

    display: flex;
    align-items: center;
}

.headline {
    height: 100%;
    font-size: 50px;
    color: black;
}

/* unvisited link */
a:link {
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    text-decoration: underline;
}


