<!DOCTYPE html>
<html lang="en">
<head>
    <!--Stylesheets-->
    <link rel="stylesheet" href="./assets/global.css">

    <!--Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200&display=swap" rel="stylesheet">
    <!--To use font:
    font-family: 'Source Sans 3', sans-serif;
    -->

    <!--Scripts-->
    <script src="./assets/lib/escapeHTML.js"></script>

    <title>%%DOCUMENT_TITLE%%</title>
</head>
<body>
    <nav>
        <a href="/dashboard/projects">Projekter</a>
        <a href="/dashboard/createProject">Opret nyt projekt</a>
    </nav>

    <main>

